<nav class="navbar navbar-expand-lg bg-dark bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand text-warning fs-3" href="#">Pyburguer</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-flex justify-content-center me-auto ms-auto mb-2 mb-lg-0"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-warning" aria-current="page" href="#"
            >Contato
            <i class="fa-solid fa-phone text-warning ml-2"></i>
            <span class="text ml-2 text-warning">9.99XX-XXXX</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning" href="#"
          >São José, Santa Catarina
          <i class="fa-regular fa-map text-warning ml-2"></i>
        </a>
        </li>
      </ul>
    </div>

    <div class="d-flex flex-row ml-auto p-2">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn btn-large btn-warning" aria-current="page" href="#"
            >Login</a
          >
        </li>
        <li class="nav-item mx-lg-2">
          <a class="btn btn-large btn-warning" href="#">Cadastre-se</a>
        </li>
      </ul>
    </div>

    <div class="d-flex flex-row">
      <form class="d-flex ml-auto p-2" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-secondary text-warning" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</nav>
